.icon {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  //
  //&-logo {
  //  @extend .icon;
  //  width: 27px;
  //  height: 36px;
  //  background-image: url("src/assets/images/shield.png");
  //}

  &-trash {
    @extend .icon;
    width: 20px;
    height: 20px;
    background-image: url("~@/assets/images/icons/trash.svg");
  }

  &-toggled-trash {
    @extend .icon;
    width: 28px;
    height: 28px;
    background-image: url("~@/assets/images/icons/toggled-trash.svg");
  }

  &-waste {
    @extend .icon;
    width: 28px;
    height: 28px;
    background-image: url("~@/assets/images/icons/waste.svg");
  }

  &-toggled-waste {
    @extend .icon;
    width: 28px;
    height: 28px;
    background-image: url("~@/assets/images/icons/toggled-waste.svg");
  }

  &-search {
    @extend .icon;
    width: 20px;
    height: 20px;
    background-image: url("~@/assets/images/icons/map-search.svg");
  }

  &-nav-calendar-check {
    @extend .icon;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-calendar-check.svg");
  }

  &-nav-waste {
    @extend .icon;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-waste.svg");
  }

  &-nav-marker-pin {
    @extend .icon;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-marker-pin.svg");
  }

  &-nav-menu {
    @extend .icon;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-menu.svg");
  }

  &-nav-redeem {
    @extend .icon;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-redeem.svg");
  }

}
