.icon {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  //
  //&-logo {
  //  @extend .icon;
  //  width: 27px;
  //  height: 36px;
  //  background-image: url("src/assets/images/shield.png");
  //}

  &-trash {
    @extend .icon;
    width: 20px;
    height: 20px;
    background-image: url("~@/assets/images/icons/trash.svg");
  }

  &-trash-active {
    @extend .icon;
    width: 28px;
    height: 28px;
    background-image: url("~@/assets/images/icons/trash-active.svg");
  }

  &-waste {
    @extend .icon;
    width: 20px;
    height: 20px;
    background-image: url("~@/assets/images/icons/waste.svg");
  }

  &-waste-active {
    @extend .icon;
    width: 28px;
    height: 28px;
    background-image: url("~@/assets/images/icons/waste-active.svg");
  }

  &-search {
    @extend .icon;
    min-width: 20px;
    height: 20px;
    background-image: url("~@/assets/images/icons/map-search.svg");
  }

  &-nav-calendar-check {
    @extend .icon;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-calendar-check.svg");
  }

  &-nav-waste {
    @extend .icon;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-waste.svg");
  }

  &-nav-marker-pin {
    @extend .icon;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-marker-pin.svg");
  }

  &-nav-menu {
    @extend .icon;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-menu.svg");
  }

  &-nav-redeem {
    @extend .icon;
    height: 24px;
    background-image: url("~@/assets/images/icons/nav-redeem.svg");
  }

  &-route {
    @extend .icon;
    width: 35px;
    height: 34px;
    background-image: url("~@/assets/images/icons/route.svg");
  }

  &-clear {
    @extend .icon;
    width: 24px;
    background-image: url("~@/assets/images/icons/clear.svg");
  }

  &-back {
    @extend .icon;
    width: 24px;
    height: 24px;
    background-image: url("~@/assets/images/icons/back-btn.svg");
  }

  &-user-profile {
    @extend .icon;
    width: 24px;
    height: 24px;
    background-image: url("~@/assets/images/icons/user-profile.svg");
  }

  &-application-search {
    @extend .icon;
    width: 120px;
    height: 120px;
    background-image: url("~@/assets/images/icons/application-search.svg");
  }

}
