@import "variables";

*{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#app{
  height: 100%;
  font-family: $fontManrope;
  text-decoration: none;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $whiteColor;

    header{
      .list-or-map{
        display: flex;
        justify-content: space-around;

        .header-link {
          font-weight: $fontStandartWeight;
          font-style: $fontStyle;
          font-size: 14px;
          text-decoration: none;
          padding: 10px;
          width: 100%;
          display: flex;
          justify-content: center;
          border-bottom: 2px solid $blackColor;

          &.router-link-active {
            color: $purpleColor;
            border-bottom: 2px solid $purpleColor;
          }
        }
      }
    }

    main {
      flex: 1 0 auto;

      width: 100%;
      min-height: 100vh;

      // REGISTER VIEW

      .register{

        #register{
          .off3-select{
            max-width: 100% !important;

            .checkbox-custom-label p{
              font-weight: 400;
              font-size: 12px;
              line-height: 152.6%;
              letter-spacing: 0.02em;
              color: #414141;
            }

            .checkbox-custom + .checkbox-custom-label:before {
              margin-top: 7px;
            }
          }

          .btn{
            max-width: 100%;
          }

          .text-mini{
            text-align: center;

            span{
              text-decoration: underline;
            }
          }

        }

        #detail{
          height: 80vh !important;
          padding: 9px 0 7px 0;
          background-color: #FFFFFF;
          box-shadow: 0px -2px 27px -11px rgb(0 0 0 / 25%);
          border-radius: 16px 16px 0 0;
          position: fixed;
          bottom: -44px !important;
          width: 100%;
          z-index: 2;
          transition: 0.3s;
        }
      }

      // GREETING VIEW

      #greeting {
        height: 100%;

        .carousel-container{
          height: 100%;
        }

        .carousel__slide > .item-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          transform: scale(.9);
          opacity: 0.5;
          transition: 0.5s;
        }
        .carousel__slide--visible > .item-container {
          opacity: 1;
          transform: rotateY(0);
        }
        .carousel__slide--next > .item-container {
          transform: scale(0.8) translate(-10px);
        }
        .carousel__slide--prev > .item-container {
          transform: scale(0.8) translate(10px);
        }
        .carousel__slide--active > .item-container {
          transform: scale(1);
        }

        .img-container {

          margin: 20px 15px 50px;
          min-height: 251px;
          max-height: 301px;
          min-width: 328px;
          max-width: 414px;
          border-radius: 15px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          .img {
            border-radius: 15px;
            overflow: hidden;
            object-fit: cover;
          }
        }

        .body {
          padding: 0 15px;

          .text-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #000000;
          }

          .text-description {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            text-align: center;
            color: #000000;
            opacity: 0.5;
          }
        }

        .carousel__slide {
          display: block;
        }

        .buttons{
          position: absolute;
          width: 100%;
          bottom: 16px;

          .carousel__pagination-button{
            background: #D9D9D9;
            border-radius: 10px;
            width: 10px;
            height: 4px;
            margin-bottom: 13px;
            transition: .6s;
          }

          .carousel__pagination-button.carousel__pagination-button--active{
            width: 50px;
            background: #D9D9D9;
            border-radius: 10px;
          }

          .btn{
            margin-bottom: 27px;
          }

          .skip{
            font-weight: 300;
            font-size: 14px;
            line-height: 130%;
            text-align: center;
            color: #000000;
          }
        }
      }

      // OBJECT VIEW

      .search-controllers{
        position: absolute;
        top: 63px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
        display: flex;
        max-width: 410px;
        padding: 0 15px;

        .filter{
          min-width: 40px;
          height: 40px;
          background-color: $whiteColor;
          border-radius: $borderRadius-70;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          background-image: url("~@/assets/images/icons/filter-funnel.svg");
          background-repeat: no-repeat;
          background-position: center;
          animation-name: boxToShadow;
          animation-duration: 1s;
          transition: .2s;

          &:active{
            background-color: $hoverGreyColor;
          }

        }

        .search{
          width: 335px;
          height: 40px;
          background: #FFFFFF;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          border-radius: 70px;
          display: flex;
          align-items: center;
          padding: 10px;
          margin-right: 10px;
          position: relative;

          animation-name: boxToShadow;
          animation-duration: 1s;

          .icon-search{
            margin-right: 5px;
          }

          .search-input{
            width: 100%;
            outline: 0;
            border:none;

            &:focus{
              border: none;
              outline: 0;
            }
          }

          #dropdown-list{
            position: absolute;
            z-index: 2;
            max-width: 425px;
            right: 0;
            left: 0;
            top: 41px;
            margin: 0 auto;
            padding: 0 15px;
            overflow: scroll;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            transition: .2s;
            animation-name: boxToShadow;
            animation-duration: 1s;
            background-color: white;
            border-radius: 5px;

            .dropdown-container{
              height: 100%;
              margin: 15px 0;
              max-height: 320px;
              overflow: scroll;
            }

            .list{
              padding: 10px 15px;
              border-bottom: 1px solid #EDEDED;

              &:active{
                background-color: $hoverGreyColor;
              }
            }
          }

        }
      }

      .map{
        height: 100%;

        .location-button{
          width: 40px;
          height: 40px;
          border-radius: 70px;
          background-color: white;
          background-image: url("~@/assets/images/icons/location.svg");
          background-repeat: no-repeat;
          background-position: center;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          transition: .2s;
          animation-name: boxToShadow;
          animation-duration: 1s;

          &:active{
            background-color: $hoverGreyColor;
          }
        }

        .zoom{
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          border-radius: 70px;
          animation-name: boxToShadow;
          animation-duration: 1s;

          .plus{
            width: 40px;
            height: 40px;
            border-radius: 20px 20px  0 0 ;
            background-color: #FFFFFF;
            background-image: url("~@/assets/images/icons/plus.svg");
            background-repeat: no-repeat;
            background-position: center;
            border-bottom: 1px solid #F5F5F5;
            transition: .2s;

            &:active{
              background-color: $hoverGreyColor;
            }
          }

          .minus{
            width: 40px;
            height: 40px;
            border-radius: 0 0 20px 20px;
            background-color: #FFFFFF;
            background-image: url("~@/assets/images/icons/minus.svg");
            background-repeat: no-repeat;
            background-position: center;

            transition: .2s;

            &:active{
              background-color: $hoverGreyColor;
            }
          }
        }
      }

      #list{
        .search-controllers{
          position: sticky;
          top: 0;
          z-index: 0;
          display: flex;
          justify-content: center;
          padding: 20px 15px;

          .search{
            width: 330px;
            height: 42px;
            background: #FFFFFF;
            border: 1px solid #E2E4E5;
            border-radius: 70px;
            display: flex;
            padding: 10px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0);
            margin-right: 10px;
            animation-name: boxToTransparent;
            animation-duration: .3s;

            .icon-search{
              margin-right: 5px;
            }

            .search-input{
              width: 100%;
              outline: 0;
              border:none;

              &:focus{
                border: none;
                outline: 0;
              }
            }
          }

          .filter{
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            background-color: $whiteColor;
            border-radius: $borderRadius-70;
            border: 1px solid #E2E4E5;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0);
            background-image: url("~@/assets/images/icons/filter-funnel.svg");
            background-repeat: no-repeat;
            background-position: center;
            animation-name: boxToTransparent;
            animation-duration: .3s;
            transition: .2s;

            &:active{
              background-color: $hoverGreyColor;
            }

          }

        }
      }

      // CALENDAR VIEW

      #calendar{

        .body{
          margin-top: 18px;
          padding: 0 15px;

          .calendar{

            max-width: 610px;
            margin: 0 auto;

            .vc-arrows-container{

              padding: 8px 0;

              .vc-arrow{
                border: 1px solid #E2E4E5;
                padding: 8px;
                border-radius: 8px;

                svg{
                  height: 16px;
                  width: 16px;
                }
              }
            }

            .vc-header {
              padding: 10px 0 21px;
            }

            .vc-day-content{
              color: black;
              font-size: 13px;
              line-height: 0;
              font-weight: 500;
            }

            .vc-day-box-center-bottom{
              padding-bottom: 5px ;
            }

            .vc-title{
                text-transform: capitalize;
            }

            .vc-container{
              border: none;
            }
          }
        }
      }

      // APPLICATION VIEW

      #applications{
        height: 85%;

        .body{
          height: 100%;
          display: grid;
          justify-content: center;
          align-items: center;

          margin: auto;
          .application-search-ico{
            margin: 0 auto;
          }

          .no-applications{
            font-size: 24px;
            line-height: 125%;
          }

          .no-applications-secondary{
            font-size: 16px;
          }

          .create-application-btn{
            margin-top: 16px;
            background-color: #6958D0;
          }
        }
      }

      #hand-over-recyclables{

        .body{
          margin: 0 auto;
          max-width: 370px;

          .title{
            color: $blackColor;
            font-size: 24px;
            line-height: 125%;
            font-weight: 600;
            margin-bottom: 21px;
          }

          .date, .time{
            position: relative;

            .date-picker{
              position: absolute;
              top: 63px;
              background-color: white;
              z-index: 2;
            }

            .time-picker{
              position: absolute;
              top: 0;
              background-color: white;
              z-index: 1;
            }
          }
        }
      }

      #applications-list{

        a{
          text-decoration: none;
        }

        .list-items{
          padding: 0 15px;

          .list{
            padding: 10px;
            max-width: 665px;
            margin: 0 auto;
            background: #FFFFFF;
            border: 1px solid #ECEAFC;
            border-radius: 8px;
            display: flex;

            .list-img{
              min-width: 52px;
              max-width: 52px;
              height: 52px;
              object-fit: cover;
            }

            .list-info{
              margin-left: 11px;
              width: 100%;

              .list-header{
                margin-bottom: 9px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .item-number{
                  font-weight: 600;
                  font-size: 11px;
                  line-height: 110%;
                  color: $blackColor;
                }

                .item-status{
                  border-radius: 14px;
                  font-size: 10px;
                  line-height: 125%;
                  padding: 4px 8px;
                }
              }

              .list-body{
                font-size: 10px;
                line-height: 110%;
                letter-spacing: 0.02em;
                color: #626366;

                .info{
                  display: flex;
                }

                .date{
                  margin-left: 15px;
                  letter-spacing: 0.02em;
                  color: #000000;
                }

                .user{
                  margin-left: 15px;
                  letter-spacing: 0.02em;
                  color: #000000;
                }
              }
            }
          }
        }
      }

      #applications-list-show{

        .header-nav{
          background: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(4px);
          position: fixed;
          width: 100%;

          .icon-user-profile{
            filter: invert(41%) sepia(1%) saturate(1288%) hue-rotate(213deg) brightness(89%) contrast(86%);
          }

          .icon-back{
            filter: invert(41%) sepia(1%) saturate(1288%) hue-rotate(213deg) brightness(89%) contrast(86%);
          }
        }

        .carousel-container{
          min-width: 280px;
          max-width: 480px;
          height: 373px;
          margin: 0 auto;
          position: relative;
          border-radius: 0 0 8px 8px;
          overflow: hidden;

          .carousel-item-image{
            object-fit: cover;
            min-width: 320px;
            max-width: 480px;
            height: 373px;
          }

          .carousel-pagination{
            position: absolute;
            bottom: 16px;
            left: 0;
            right: 0;

            .carousel__pagination-button{
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: $whiteColor;
              transition: .2s;

              &.carousel__pagination-button--active{
                background-color: #591ED6;
              }
            }
          }
        }

        .info{
          padding: 0 15px;
          font-size: 11px;
          line-height: 110%;
          color: #000000;
          min-width: 280px;
          max-width: 480px;
          margin: 0 auto;

          .id{
            font-weight: 600;
            font-size: 11px;
            line-height: 110%;
            color: #000000;
          }

          .status {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .application-status{
              padding: 4px 8px;
              font-size: 10px;
              border-radius: 14px;

            }
          }

          .info-body{

            .info{
              padding: 0;
              display: grid;
              grid-auto-rows: min-content;

              .address{
                font-size: 10px;
                line-height: 110%;
                letter-spacing: 0.02em;
                color: #626366;
              }

              .labels{
                font-size: 10px;
                line-height: 110%;
                letter-spacing: 0.02em;
                color: #626366;
                white-space: pre-wrap;
              }

              .lab{
                display: inline-grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: auto;
              }

              .data{
                font-size: 10px;
                line-height: 110%;
                letter-spacing: 0.02em;
                color: #000000;
                font-weight: 600;
              }
            }
          }
        }

        .btns {
          max-width: 480px;
          margin: 0 auto;
          padding: 0 15px;

          .cancel{
            text-decoration: none;
          }

          .get-qr-code {
            margin-top: 90px;
            text-decoration: none;
            font-size: 13px;
            color: $whiteColor;
            background-color: $purpleColor;
            border-radius: $borderRadius-22;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .btn-danger-outline{
            margin: 0 auto 20px;
            text-decoration: none;
            max-width: 100%;
            border-radius: $borderRadius-22;
            background-color: rgba(89, 30, 214, 0);
            border: 1px solid #B3261E;
            height: 40px;
            color: #B3261E;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s;

            &:active{
              color: white;
              background-color: #B3261E;
            }
          }
        }
      }

      #applications-cancel-request{
        .form-group{
          display: grid;
          padding: 0 15px;

          label{
            font-weight: 400;
            font-size: 12px;
            line-height: 152.6%;
            letter-spacing: 0.02em;
            margin-bottom: 9px;
          }

          #cancel-input{
            font-weight: 400;
            font-size: 12px;
            line-height: 152.6%;
            letter-spacing: 0.02em;
            background: #FFFFFF;
            border: 1px solid #E2E4E5;
            border-radius: 4px;
            outline: none;
            padding: 10px;
            resize: none;
            height: 45vh;
            transition: .3s;

            &:focus{
              border: 1px solid #cacacd;
            }
          }
        }

        .btns{
          display: flex;
          margin-top: 180px;

          a{
            width: 100%;
            text-decoration: none;
          }

          .btn-danger-outline, .btn-secondary-outline{
            width: 100%;
          }
        }
      }

      .qr-code-detail{
        padding: 0 15px;

        .header-text{
          font-weight: 600;
          font-size: 14px;
          line-height: 130%;
          text-align: center;
        }

        .qr-code{
          margin: 0 auto 24px;
          display: flex;
          width: 182px !important;
          height: 182px !important;
        }
      }

      // AUTH VIEWS

      .region-detail {

        .search-controllers{
          position: inherit;
          z-index: 1;
          display: flex;
          padding: 25px 15px;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #B3B6B8;


          .search{
            background: #FFFFFF;
            border: 1px solid #E2E4E5;
            width: 100%;
            height: 40px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0);
            border-radius: 70px;
            display: flex;
            align-items: center;
            padding: 10px;
            margin-right: 10px;
            position: inherit !important;

            animation-name: boxToShadow;
            animation-duration: 1s;

            .icon-search{
              margin-right: 5px;
            }

            .search-input{
              width: 100%;
              outline: 0;
              border:none;

              &:focus{
                border: none;
                outline: 0;
              }
            }
          }
        }


        .items{
          overflow: scroll;
          height: 75vh;

          .item-list{
            padding: 10px 15px;
            border-bottom: 1px solid #F2FAFF;
            font-weight: 400;
            font-size: 12px;
            line-height: 152.6%;
            letter-spacing: 0.02em;
            color: #414141;

            &:active{
              background-color: $hoverGreyColor;
            }
          }
        }
      }

    }

    nav {
      background-color: $whiteColor;
      box-shadow: 0px -2px 27px -11px rgba(0, 0, 0, 0.25);
      position: sticky;
      bottom: 0;
      z-index: 1;

      .navigation{
        padding: 12px 14px 3px;
        box-shadow: 0px -2px 27px -11px rgba(0, 0, 0, 0.25);

        .nav-items{
          display: flex;
          justify-content: center;
          list-style: none;
          margin: 0;

          .item{
            width: 52px;
            margin: 0 9px;

            .nav-item-link{
              display: inherit;
              color: $secondaryBlackColor;
              font-family: $fontManrope;
              font-style: $fontStyle;
              font-weight: $fontStandartWeight;
              font-size: 9px;
              text-decoration: none;

              .ico{
                margin-bottom: 2px;
              }

              p{
                text-align: center;
              }

              &.router-link-active{
                color: $purpleColor;

                .ico{
                  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(5643%) hue-rotate(269deg) brightness(98%) contrast(98%);
                }
              }
            }
          }
        }
      }
    }
  }

  .status-canceled{
    background: rgba(179, 38, 30, 0.1);
    color: #B3261E;
  }

  .status-expectation{
    background: #F2FAFF;
    color: #1B8EE2;
  }

  .status-success{
    background: rgba(30, 185, 110, 0.1);
    color: #1EB96E;
  }

  .error-message {
    font-size: 12px;
    line-height: 152.6%;
    letter-spacing: 0.02em;
    color: #B3261E;
    transition: .3s;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    display: inline-block;
    color: #666;
    font-weight: 400;
    font-size: 12px;
    line-height: 152.6%;
    letter-spacing: 0.02em;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #6958D0;
    border-radius: 100%;
    background: #fff;
  }

  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #B3B6B8;
    border-radius: 100%;
    background: #fff;
  }


  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #6958D0;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .overflow-hidden{
    overflow: hidden;
  }

  .d-none{
    display: none;
  }

  .d-block{
    display: block;
  }



  .off3-group{

    display: flex;
    align-items: center;
    border: 1px solid #E2E4E5;
    border-radius: 4px;
    padding: 7px 16px;


    .off3-input-group {
      width: 100%;
      position: relative;
      padding-top: 6px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: .4px;
    }

    .off3-input-group input,
    .off3-input-group textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 6px 13px 7px 0;
      font-size: 14px;
      line-height: inherit;
      color: #000000;
      background-color: transparent;
      outline: none;
      border: none;
      transition: border .2s, box-shadow .2s;
    }

    .off3-input-group input + .off3-label,
    .off3-input-group textarea + .off3-label {
      display: flex;
      align-items: center;
      width: 100%;
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
      line-height: 12px;
      color: #B3B6B8;
      cursor: text;
      transition: color .2s,
      font-size .2s,
      line-height .2s;


    }

    .off3-input-group input:not(:focus):placeholder-shown + label,
    .off3-input-group textarea:not(:focus):placeholder-shown + label {
      font-size: 14px;
      line-height: 54px;
    }


    .off3-input-group input + label::before,
    .off3-input-group textarea + label::before {
      border-radius: 4px 0;
    }

    .off3-input-group input + label::after,
    .off3-input-group textarea + label::after {
      flex-grow: 1;
      margin-left: 4px;
    }

    .off3-input-group input:not(:focus):placeholder-shown + label::before,
    .off3-input-group input:not(:focus):placeholder-shown + label::after,
    .off3-input-group textarea:not(:focus):placeholder-shown + label::before,
    .off3-input-group textarea:not(:focus):placeholder-shown + label::after {
      border-top-color: transparent;
    }

    .off3-input-group input:focus + label,
    .off3-input-group textarea:focus + label {
      color: #888B8D;
    }

    @media not all and (min-resolution: .001dpcm) {
      @supports (-webkit-appearance: none) {
        .off3-input-group input,
        .off3-input-group input + label,
        .off3-input-group input + label::before,
        .off3-input-group input + label::after,
        .off3-input-group textarea,
        .off3-input-group textarea + label,
        .off3-input-group textarea + label::before,
        .off3-input-group textarea + label::after {
          transition-duration: .1s;
        }
      }
    }

  }

  .input-required-label{
    color: #B3261E;
    padding-left: 2px;
  }

  .off3-select{
    max-width: 360px;
    margin: 0 auto;
    padding-top: 6px;

    .off3-select-group{
      margin-top: 15px;
      display: flex;
      align-items: center;

      .checkbox-custom {
        opacity: 0;
        position: absolute;
        height: 22px;

      }

      .checkbox-custom, .checkbox-custom-label {
        display: flex;
        vertical-align: middle;
        cursor: pointer;
      }

      .checkbox-custom + .checkbox-custom-label:before {
        content: '';
        background: #fff;
        border-radius: 4px;
        border: 2px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        min-width: 18px;
        max-height: 18px;
        min-height: 18px;
        margin-right: 18px;
        text-align: center;
        transition: .1s;

      }

      .checkbox-custom:checked + .checkbox-custom-label:before {
        content: url("~@/assets/images/icons/check.svg");
        display: inline-block;
        background-color: #591ED6;
        border: 2px solid #591ED6;
        width: 18px;
        height: 18px;

      }

    }

  }

  .off3-upload-file{
    .upload-photo-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 71px;
      background-color: #F2FAFF;
      cursor: pointer;
      border-radius: 50%;
      padding: 24px;
    }

    #upload-photo {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }

  .header{
    display: flex;
    justify-content: space-between;
    padding: 15px 12px 15px 14px;
  }

  .map-preloading{
    position: absolute;
    z-index: 111;
    fill: $purpleColor;
    width: 60px;
    height: 60px;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
  }

  .line{
    background-color: $blackColor;
    width: 152px;
    height: 4px;
    border-radius: 4px;
    margin: 0 auto;
  }

  .bottom-line{
    padding: 9px 0 3px;
  }



  .detail{
    padding: 9px 0 7px 0;
    background-color: $whiteColor;
    box-shadow: 0px -2px 27px -11px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0 0;
    position: fixed;
    bottom: -812px;
    width: 100%;
    z-index: 2;
    transition: .3s;

    &.active{
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    #detail-card{
      font-family: $fontManrope;
      font-style: $fontStyle;

      .info{
        border-bottom: 1px solid #E2E4E5;
        padding: 17px 15px 16px;

      }

      .card-info{
        display: flex;
        justify-content: space-between;
        height: 44px;

        .range-block{
          display: flex;

          .range{
            font-weight: 600;
            font-size: 16px;
            color: $blueColor;
          }
        }
      }

      .type{
        margin-left: 0;
      }

      .product-type-items{
        display: inline-flex;
        flex-wrap: wrap;

        .types{
          width: 135px;
          margin-left: 15px;

          &::marker{
            color: $secondaryBlackColor;
          }

        }
      }

      .contacts{
        .owner{
          margin-bottom: 16px;
        }
        .contact{
          display: flex;
          justify-content: space-between;
        }
      }

      .build-route{
        padding: 16px 15px 9px;
      }
    }
  }

  #filter{
      background-color: #1B8EE2;

    &.active{
      background-color: #591ED6;
    }
  }

  .list-blocks{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .scrollable-block{
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      overflow-y: auto; /* Make the child scroll */
      width: 100%;
    }

    .list{
      padding: 15px;
      border-bottom: 1px solid #EDEDED;
      background-color: $whiteColor;

      .info{
        display: flex;
        justify-content: space-between;

      }

      &:active, &:hover{
        background-color: $hoverGreyColor;
      }
    }
  }

  .information{
    font-family: $fontManrope;
    font-style: $fontStyle;

    .address{
      font-weight: 600;
      font-size: 14px;
    }

    .range-block{
      padding: 4px 8px;
      background-color: $secondaryBlueColor;
      border-radius: 7px;
      text-align: center;

      .range{
        font-weight: 700;
        font-size: 13px;
        color: $blueColor;
      }

      .measure{
        font-weight: 400;
        font-size: 10px;
        color: $blueColor;
      }
    }
  }

  .container-type{
    display: flex;
    align-items: center;
    font-family: $fontManrope;
    font-style: $fontStyle;

    .type{
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.02em;
      color: $secondaryBlackColor;
      margin-left: 8px;
    }
  }

  .text-title{
    font-family: $fontManrope;
    font-style: $fontStyle;
    color: $blackColor;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .text-mini{
    font-weight: 400;
    font-size: 12px;
    line-height: 152.6%;
    letter-spacing: 0.02em;
    color: #414141;
  }

  .header-title{
    font-family: $fontManrope;
    font-style: $fontStyle;
    color: $blackColor;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
  }

  .color-purple{
    color: #591ED6 !important;
  }

  .text-secondary{
    font-family: $fontManrope;
    font-style: $fontStyle;
    color: $blackColor;
    font-weight: 400;
    font-size: 12px;
  }

  .btn{
    text-decoration: none;
    max-width: 330px;
    margin: 0 auto;
    font-family: $fontManrope;
    font-style: $fontStyle;
    font-size: 13px;
    background-color: $purpleColor;
    border-radius: $borderRadius-22;
    height: 44px;
    color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-danger-outline{
    text-decoration: none;
    max-width: 330px;
    margin: 0 auto;
    font-family: $fontManrope;
    font-style: $fontStyle;
    font-size: 13px;
    border: 1px solid #B3261E;
    color: #B3261E;
    background-color: rgba(0, 0, 0, 0);
    border-radius: $borderRadius-22;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-secondary-outline{
    text-decoration: none;
    max-width: 330px;
    margin: 0 auto;
    font-family: $fontManrope;
    font-style: $fontStyle;
    font-size: 13px;
    border: 1px solid #E2E4E5;
    color: #626366;
    background-color: rgba(0, 0, 0, 0);
    border-radius: $borderRadius-22;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-secondary{
    background: #BFBFBF;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    text-align: center;
    color: #000000;
    transition: .3s;
  }

  .circle-btn{
    background-color: #7D45F3;
    box-shadow: 3px 4px 7px rgba(125, 69, 243, 0.33);
    border-radius: 70px;
    z-index: 12;
    bottom: 94px;
    padding: 14px;
    height: 52px;
    min-width: 52px;
  }

  .float-btn{
    position: fixed;
    bottom: 90px;
    right: 15px;
  }

  .header-nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  #overlay{
    display: none;
    position: fixed;
    top: 0;
    z-index: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100%;
    animation-name: FadeIn;
    animation-duration: .6s;
  }

  #overlay.active{
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.7;
    height: 100vh;
    width: 100%;
  }

  .text-center{
    text-align: center;
  }

  .text-start{
    text-align: left;
  }

  .pd-15{
    padding: 0 15px;
  }

  .mg-15{
    margin: 0 15px;
  }

  .ml-16{
    margin-left: 16px;
  }

  .mr-16{
    margin-right: 16px;
  }

  .mb-10{
    margin-bottom: 10px;
  }

  .mt-10{
    margin-top: 10px;
  }


  .ml-10{
    margin-left: 10px;
  }

  .mt-20{
    margin-top: 20px;
  }

  .mb-16{
    margin-bottom: 16px;
  }

  .mt-16{
    margin-top: 16px;
  }

  .mb-24{
    margin-bottom: 24px;
  }

  .in-invalid{
    transition: .3s;
    color: #B3261E !important;
    border: 1px solid #B3261E !important;
  }


  @keyframes boxToTransparent{
    from{
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    }
    to{
      box-shadow: 0 0 4px rgba(0, 0, 0, 0);
    }
  }

  @keyframes FadeIn {
    from{
      opacity: 0;
      display: block;
    }
    to{
      opacity: 0.7;
    }
  }

  @keyframes boxToShadow{
    from{
      box-shadow: 0 0 4px rgba(0, 0, 0, 0);
    }
    to{
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    }
  }
}


